<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

<div id="product-main">
    <div id="transfer">
        <div class="content">
            <h1>B A N K  T R A N S F E R</h1>
            <div class="row space-between name">
                <div class="row">
                    <i class="bx bxs-credit-card"></i>
                    <div>99999999</div>
                </div>
                <div class="color-red">TPBank</div>
                <div class="row">
                    <div>Oder Total:</div>
                    <div class="color-red">$666.66</div>
                </div>
            </div>
            <div class="row name">
                <i class="bx bxs-credit-card"></i>
                <div>NGUYEN QUOC BAO</div>
            </div>
        </div>
    </div>
    <div id="qr-code">
        <div class="content">
            <h1>S C A N  Q R  T O  P A Y</h1>
            <div class="product-image">
            <img src="assets/images/qr.png" alt="">
        </div>
        <div class="toast" [class.active]="isToastActive">
            <div class="toast-content">
                <i class='bx bx-check-square'></i>
              <div class="message">
                <span class="text text-1">Success</span>
                <span class="text text-2">Payment success</span>
              </div>
            </div>
            <i class="fa-solid fa-xmark close" (click)="closeToast()"></i>
            <div class="progress" [class.active]="isProgressActive"></div>
          </div>
       <button class="btn-complete" (click)="showSuccessMessage()"><i class='bx bxs-credit-card' ></i>Coplete</button>
        <div class="row space-between connection">
            <a href="/checkout"><div class="back">Back</div></a>
            <div>
                <i class='bx bxs-lock-alt' ></i>
                Secure Connection
            </div>
        </div>
        </div>
    </div>
</div>