#product-main {
    margin: 80px 0 0 120px ;
    width: 65vw;
    height: 90vw;
    background: #ececec;
    position: absolute;
}
.row {
    display: flex;
    flex-direction: row;
}
#product-content {
    width: 877px;
    height: 288px;
    background-color: #FFF;
    padding: 34px 10px 0px 10px;
    border-radius: 21px;
    margin-bottom: 25px;
    transition: transform 0.3s, box-shadow 0.3s;
}
#product-content:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    background: #dce9ec;
}
.product-image img{
    width: 200px;
    height: 254px;
}
.space-beetwen {
    display: flex;
    justify-content: space-between;
}
.products {
    margin-left: 25px;
    width: 600px;
}
.color-product {
    color: #60695C;
}
.all-products {
    height: 80vw;
    overflow: auto;
}
