<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>
<app-core></app-core>
  <app-bag-checkout></app-bag-checkout>
<div id="product-main">
    <h1>Check Your Bag Items</h1>
  <div class="all-products">
    <div id="product-content" class="row">
        <div class="product-image">
            <img src="assets/images/ip.png" alt="">
        </div>
        <div class="products">
            <h1>Iphone 15 Pro Max</h1>
            <p class="color-product">Golden</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
            <div class="row">
                <div>*****</div>
                <div>5/5</div>
            </div>
            <div class="row space-beetwen">
            <div>$ 999.99 x <span>1</span></div>
                <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
            </div>
        </div>
  </div>
  <div id="product-content" class="row">
    <div class="product-image">
        <img src="assets/images/ip.png" alt="">
    </div>
    <div class="products">
        <h1>Iphone 15 Pro Max</h1>
        <p class="color-product">Golden</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
        <div class="row">
            <div>*****</div>
            <div>5/5</div>
        </div>
        <div class="row space-beetwen">
        <div>$ 999.99 x <span>1</span></div>
            <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
        </div>
    </div>
</div>
<div id="product-content" class="row">
    <div class="product-image">
        <img src="assets/images/ip.png" alt="">
    </div>
    <div class="products">
        <h1>Iphone 15 Pro Max</h1>
        <p class="color-product">Golden</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
        <div class="row">
            <div>*****</div>
            <div>5/5</div>
        </div>
        <div class="row space-beetwen">
        <div>$ 999.99 x <span>1</span></div>
            <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
        </div>
    </div>
</div>
<div id="product-content" class="row">
    <div class="product-image">
        <img src="assets/images/ip.png" alt="">
    </div>
    <div class="products">
        <h1>Iphone 15 Pro Max</h1>
        <p class="color-product">Golden</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
        <div class="row">
            <div>*****</div>
            <div>5/5</div>
        </div>
        <div class="row space-beetwen">
        <div>$ 999.99 x <span>1</span></div>
            <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
        </div>
    </div>
</div>
<div id="product-content" class="row">
    <div class="product-image">
        <img src="assets/images/ip.png" alt="">
    </div>
    <div class="products">
        <h1>Iphone 15 Pro Max</h1>
        <p class="color-product">Golden</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
        <div class="row">
            <div>*****</div>
            <div>5/5</div>
        </div>
        <div class="row space-beetwen">
        <div>$ 999.99 x <span>1</span></div>
            <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
        </div>
    </div>
</div>
  </div>
  
</div>
