<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

<div id="product-main">
    <div id="form-input">
        <form action="">
            <div class="form-input">
                <label for="">Gmail</label><br><br>
                <input type="email" id="gmail" class="gmail" name="gmail"
                    placeholder="bao@gmail.com"><br>
            </div>
            <div class="form-input">
                <label for="">Phone</label><br><br>
                <input type="text" id="phone" class="phone" name="phone"
                    placeholder="0333888333"><br>
            </div>
            <div class="form-input">
                <label for="">First name</label><br><br>
                <input type="text" id="first-name" class="first-name" name="first-name" placeholder="Bao"><br>
            </div>
            <div class="form-input">
                <label for="">Last name</label><br><br>
                <input type="text" id="last-name" class="last-name" name="last-name" placeholder="Nguyen"><br>
            </div>
            <div class="form-input">
                <label for="">Birth day</label><br><br>
                <input type="date" id="date" class="date" name="date" placeholder="MM/DD/YYYY"><br>
            </div>
            <div class="row">
                <div  class="checkbox" ><input type="checkbox"></div>
                <div>Save this as your default infor</div>
            </div>
            <button class="btn-complete"><i class='bx bxs-credit-card' ></i>Add Infor</button>
            <div class="row space-between connection">
                <div class="back">Back</div>
                <div>
                    <i class='bx bxs-lock-alt' ></i>
                    Secure Connection
                </div>
            </div>
        </form>
    </div>
</div>