<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

<div id="product-main">
    <div id="form-input">
        <form action="javascript:void(0);">
            <div class="form-input">
                <label for="gmail">Gmail</label><br><br>
                <input type="email" id="gmail" class="gmail" name="gmail"
                    placeholder="bao@gmail.com"><br>
            </div>
            <div class="form-input">
                <label for="phone">Phone</label><br><br>
                <input type="text" id="phone" class="phone" name="phone"
                    placeholder="0333888333"><br>
            </div>
            <div class="form-input">
                <label for="first-name">First name</label><br><br>
                <input type="text" id="first-name" class="first-name" name="first-name" placeholder="Bao"><br>
            </div>
            <div class="form-input">
                <label for="last-name">Last name</label><br><br>
                <input type="text" id="last-name" class="last-name" name="last-name" placeholder="Nguyen"><br>
            </div>
            <div class="form-input">
                <label for="date">Birth day</label><br><br>
                <input type="date" id="date" class="date" name="date" placeholder="MM/DD/YYYY"><br>
            </div>
            <div class="row">
                <div  class="checkbox" ><input type="checkbox"></div>
                <div>Save this as your default infor</div>
            </div>
            <div class="toast" [class.active]="isToastActive">
                <div class="toast-content">
                    <i class='bx bx-check-square'></i>
                  <div class="message">
                    <span class="text text-1">Success</span>
                    <span class="text text-2">add infor Success</span>
                  </div>
                </div>
                <i class="fa-solid fa-xmark close" (click)="closeToast()"></i>
                <div class="progress" [class.active]="isProgressActive"></div>
              </div>
              <a href="javascript:void(0);" (click)="addInfor()"><div class="btn-complete">
                <div class="text-complete">
                  <i class='bx bxs-credit-card'></i>Complete
                </div>
              </div></a>
            <div class="row space-between connection">
                <a href="/checkout"><div class="back">Back</div></a>
                <div>
                    <i class='bx bxs-lock-alt' ></i>
                    Secure Connection
                </div>
            </div>
        </form>
    </div>
</div>