#product-main {
    margin: 80px 100px 0 75%;
    position: absolute;
    width: 243px;
    height: 319px;
    background-color: #FFF;
    border-radius: 11px;
}
#content {
    margin: 15px;
}
.row {
    display: flex;
    flex-direction: row;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.total {
    color: #E5252C;
    font-size: 20px;
}
.oder-text {
    margin-bottom: 15px;
}
.btn-oder {
    width: 211px;
    height: 35px;
    background-color: #000;
    border-radius: 11px;
    color: #FFF;
    margin-top: 15px;
}