<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>

<div id="product-main">
   <div id="content">
    <h3>Oder Summary</h3>
    <div class="row space-between oder-text">
        <div>Items:</div>
        <div>$567.34</div>
    </div>
    <div class="row space-between oder-text">
        <div>Shipping:</div>
        <div>$567.34</div>
    </div>
    <div class="row space-between oder-text">
        <div>Estimated GST:</div>
        <div>$567.34</div>
    </div>
    <div class="row space-between oder-text">
        <div>Gift Card:</div>
        <div>$567.34</div>
    </div>
    <hr>
    <div class="row space-between">
        <div class="total">Oder Total:</div>
        <div class="total">$567.34</div>
    </div>
    <hr>
    <button class="btn-oder">Place your oder</button>
   </div>
</div>
