<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<app-core></app-core>
<app-bag></app-bag>
<div class="search">
  <input type="text" class="form-control" placeholder="iphone macbook apple watch"  (input)="onSearchInput($event)">
</div>
<div class="sorting">
  <button><i (click)="sortBy('name')" class='bx bx-text' ></i></button>
  <i class='bx bx-sort' style="margin-top: 5px;"></i>
  <button><i (click)="sortBy('price')" class='bx bx-dollar-circle' ></i></button>
</div>
  <div id="product-main">
    
    <div id="product" class="product-grid">
      <div class="my-product" *ngFor="let product of filteredProducts">
        <a [routerLink]="'/productsdetail/' + product.id">
          <img [src]="'assets/images/' + product.image" alt="{{ product.name }}">
        <div>{{ product.name }}</div>
        <p>{{ product.series }}</p>
        <div class="price-icon">
          <span>$ {{ product.price }}</span>
          <i class='bx bxs-shopping-bags'></i>
        </div>
        </a>
      </div>
    </div>
  </div>
  
