#product-main {
    margin: 80px 0 0 120px ;
    width: 65vw;
    height: 90vw;
    background: #ececec;
    overflow: auto;
    position: absolute;
}
.rows{
    display: flex;
    justify-content: space-around;
}
.product {
    margin-bottom: 30px;
}
.row {
    display: flex;
    flex-direction: row;
}
.my-product img{
    width: 190px;
    height: 230px;
    border-radius: 10px;
}
.my-product div, p{
    margin-left: 15px;
}
.price-icon {
    justify-content: space-between;
}
.price-icon i {
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: #000;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột mỗi hàng */
    grid-gap: 20px; /* Khoảng cách giữa các sản phẩm */
  }
  
  .my-product {
    border: 1px solid #ccc; 
    padding: 10px; 
    text-align: center;
    border-radius: 10px;
  }
  
  
  .price-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search input{
    width: 507px;
    height: 40px;
    border-radius: 13px;
    margin-top: 30px;
    margin-left: 25%;
    border: 1px solid #ececec;
    position: absolute;
}
input::placeholder {
    text-indent: 10px;
}
.sorting {
    display: flex;
    justify-content: end;
    padding: 30px 70px 0 0;
}
.sorting button {
    width: 40px;
    background: #FFF;
    margin: 5px;
    border-radius: 5px;
}
.sorting button:active{
    background-color: rgb(125, 125, 224);
  }
  
  .my-product {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .my-product:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1; 
    background: #dce9ec;
    cursor: pointer;
  }
  