.bag-container {
    width: 345px;
    height: 100vw;
    background: #ececec;
    float: right;
    margin-top: 0px;
    border-left: 2px solid rgb(174, 170, 170);
}
.main-product {
    margin: 65px 0 0 10px;
}
.product {
    margin-bottom: 30px;
}
.rows{
    display: flex;
    justify-content: space-around;
}
.row {
    display: flex;
    flex-direction: row;
}
.my-product img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.my-product div, p{
    margin-left: 5px;
}
.my-product {
    margin: 10px 10px 0 0;
}
.main-product h3 {
    margin-left: 35%;
}
.btn-bag {
    width: 100px;
    height: 30px;
    background: #bababa;
    border-radius: 5px;
    padding: 10px 0 0 10px;
    margin-left: 20%;
}
a {
    text-decoration: none;
    color: #000;
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .my-product {
    flex-basis: calc(25% - 20px); 
    margin-right: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .my-product:last-child {
    margin-right: 0;
  }
  .my-product:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1; 
    background: #dce9ec;
}