<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<div class="bag-container">
   <div class="main-product">
    <h3>
        Bag
    </h3>
    <div class="row product">
        <div class="my-product">
            <img src="assets/images/iphone.jpg" alt="">
        </div>
        <div class="my-product">
            <img src="assets/images/iphone.jpg" alt="">
        </div>
        <div class="my-product">
            <img src="assets/images/iphone.jpg" alt="">
        </div>
        <div class="my-product">
            <img src="assets/images/iphone.jpg" alt="">
        </div>
    </div>
    <div class="row product">
        <div class="my-product">
            <img src="assets/images/iphone.jpg" alt="">
        </div>
        <div class="my-product">
            <img src="assets/images/iphone.jpg" alt="">
        </div>
    </div>
    <a href="/checkout"><div class="row btn-bag"><i class='bx bxs-shopping-bag-alt' ></i><div>Check out</div></div></a>
   </div>
</div>