<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <div class="sidebar close">
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-menu'></i>
          <span class="link_name">Menu</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Menu</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-home-alt' ></i>
          <span class="link_name">Home</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Home</a></li>
        </ul>
      </li>
     
      <li>
        <a href="#">
          <i class='bx bxs-shopping-bag'></i>
          <span class="link_name">Bag</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Bag</a></li>
        </ul>
      </li>
      
      <li class="back">
        <a href="#">
          <i class='bx bx-exit' ></i>
          <span class="link_name">Exit</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Exit</a></li>
        </ul>
      </li>
      <li>
  </li>
</ul>
  </div>
