<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

<div id="product-main">
    <div id="form-input">
        <form action="">
            <div class="form-input">
                <label for="">Shipping name</label><br><br>
                <input type="text" id="shipping-name" class="shipping-name" name="shipping-name"
                    placeholder="Bao Nguyen"><br>
            </div>
            <div class="form-input">
                <label for="">Street name</label><br><br>
                <input type="text" id="street-name" class="street-name" name="street-name"
                    placeholder="123 ham tu liem"><br>
            </div>
            <div class="form-input">
                <label for="">City</label><br><br>
                <input type="text" id="city" class="city" name="city" placeholder="Ha noi"><br>
            </div>
            <div class="form-input">
                <label for="">State/Province</label><br><br>
                <input type="text" id="state" class="state" name="state" placeholder="Ha noi"><br>
            </div>
            <div class="form-input">
                <label for="">Country</label><br><br>
                <input type="text" id="country" class="country" name="country" placeholder="Việt Nam"><br>
            </div>
            <div class="row">
                <div  class="checkbox" ><input type="checkbox"></div>
                <div>Save this as your default address</div>
            </div>
            <button class="btn-complete"><i class='bx bxs-credit-card' ></i>Add Address</button>
            <div class="row space-between connection">
                <div class="back">Back</div>
                <div>
                    <i class='bx bxs-lock-alt' ></i>
                    Secure Connection
                </div>
            </div>
        </form>
    </div>
</div>