<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>
<app-total-oder></app-total-oder>
<div id="product-main">
    <div id="address" *ngIf="hasAddress">
        <div class="content">
            <h1>S H I P P I N G  A D D R E S S</h1>
            <div class="row space-beetwen">
                <div class="name">{{ shippingName }}</div>
                <a href="address"><button class="btn-change">Change</button></a>
            </div>
            <div class="address">{{ streetName }}</div>
            <div class="capital">{{ city }}</div>
            <div class="country">{{ country }}</div>
        </div>
    </div>
    
    <div id="address" *ngIf="!hasAddress">
        <div class="content">
            <h1>S H I P P I N G  A D D R E S S</h1>
            <div class="row space-beetwen">
                <div class="name">{{ shippingAddressData.name }}</div>
                <a href="address"><button class="btn-change">Change</button></a>
            </div>
            <div class="address">{{ shippingAddressData.address }}</div>
            <div class="capital">{{ shippingAddressData.city }}</div>
            <div class="country">{{ shippingAddressData.country }}</div>
        </div>
    </div>
    
    <div id="info" *ngIf="hasInfo">
        <div class="content">
        <h1>I N  F O R</h1>
            <div class="row space-beetwen">
                <div class="name">{{gmail}}</div>
                <a href="infor"><button class="btn-change">Change</button></a>
            </div>
            <div class="address">{{phone}}</div>
            <div class="capital">{{firstName}}</div>
        </div>
    </div>
    <div id="info" *ngIf="!hasInfo">
        <div class="content">
        <h1>I N  F O R</h1>
            <div class="row space-beetwen">
                <div class="name">{{shippingInfoData.gmail}}</div>
                <a href="infor"><button class="btn-change">Change</button></a>
            </div>
            <div class="address">{{shippingInfoData.phone}}</div>
            <div class="capital">{{shippingInfoData.lastName}}</div>
        </div>
    </div>
    <div id="review-bag">
        <div class="content">
            <h1>R E V I E W  Y O U R  B A G</h1>
            <div class="all-products" >
                <div *ngFor="let product of cartItems">
                    <div id="product-content" class="row">
                        <div class="product-image">
                            <img [src]="'assets/images/' + product.image" alt="">
                        </div>
                        <div class="products">
                            <h1>{{ product.name }}</h1>
                            <p class="color-product">{{ product.series }}</p>
                            <p>{{ product.description }}</p>
                            <div class="row">
                                <div>*****</div>
                                <div>5/5</div>
                            </div>
                            <div class="row space-beetwen">
                                <div>{{ product.price | currency }} x <span>1</span></div>
                                <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
                            </div>
                        </div>
                  </div>
                  <hr style="width: 90%;">
                </div>
            
              </div>
            </div>
    </div>
</div>
