<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>
<app-total-oder></app-total-oder>
<div id="product-main">
    <div id="address">
        <div class="content">
            <h1>S H I P P I N G  A D D R E S S</h1>
            <div class="row space-beetwen">
                <div class="name">Bao Nguyen</div>
                <button class="btn-change">Change</button>
            </div>
            <div class="address">123 Nam tu liem</div>
            <div class="capital">Ha Noi</div>
            <div class="country">Việt Nam</div>
        </div>
    </div>
    <div id="info">
        <div class="content">
        <h1>I N  F O R</h1>
            <div class="row space-beetwen">
                <div class="name">bao@gmail.com</div>
                <button class="btn-change">Change</button>
            </div>
            <div class="address">0333888333</div>
            <div class="capital">bao</div>
        </div>
    </div>
    <div id="review-bag">
        <div class="content">
            <h1>R E V I E W  Y O U R  B A G</h1>
            <div class="all-products">
                <div id="product-content" class="row">
                    <div class="product-image">
                        <img src="assets/images/ip.png" alt="">
                    </div>
                    <div class="products">
                        <h1>Iphone 15 Pro Max</h1>
                        <p class="color-product">Golden</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
                        <div class="row">
                            <div>*****</div>
                            <div>5/5</div>
                        </div>
                        <div class="row space-beetwen">
                        <div>$ 999.99 x <span>1</span></div>
                            <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
                        </div>
                    </div>
              </div>
              <div id="product-content" class="row">
                <div class="product-image">
                    <img src="assets/images/ip.png" alt="">
                </div>
                <div class="products">
                    <h1>Iphone 15 Pro Max</h1>
                    <p class="color-product">Golden</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
                    <div class="row">
                        <div>*****</div>
                        <div>5/5</div>
                    </div>
                    <div class="row space-beetwen">
                    <div>$ 999.99 x <span>1</span></div>
                        <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
                    </div>
                </div>
            </div>
            <div id="product-content" class="row">
                <div class="product-image">
                    <img src="assets/images/ip.png" alt="">
                </div>
                <div class="products">
                    <h1>Iphone 15 Pro Max</h1>
                    <p class="color-product">Golden</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
                    <div class="row">
                        <div>*****</div>
                        <div>5/5</div>
                    </div>
                    <div class="row space-beetwen">
                    <div>$ 999.99 x <span>1</span></div>
                        <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
                    </div>
                </div>
            </div>
            <div id="product-content" class="row">
                <div class="product-image">
                    <img src="assets/images/ip.png" alt="">
                </div>
                <div class="products">
                    <h1>Iphone 15 Pro Max</h1>
                    <p class="color-product">Golden</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
                    <div class="row">
                        <div>*****</div>
                        <div>5/5</div>
                    </div>
                    <div class="row space-beetwen">
                    <div>$ 999.99 x <span>1</span></div>
                        <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
                    </div>
                </div>
            </div>
            <div id="product-content" class="row">
                <div class="product-image">
                    <img src="assets/images/ip.png" alt="">
                </div>
                <div class="products">
                    <h1>Iphone 15 Pro Max</h1>
                    <p class="color-product">Golden</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam </p>
                    <div class="row">
                        <div>*****</div>
                        <div>5/5</div>
                    </div>
                    <div class="row space-beetwen">
                    <div>$ 999.99 x <span>1</span></div>
                        <div><i class='bx bx-minus'></i>1<i class='bx bx-plus'></i></div>
                    </div>
                </div>
            </div>
              </div>
            </div>
    </div>
</div>
